apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
  namespace: travel-booking
spec:
  replicas: 2
  selector:
    matchLabels:
      app: auth-service
  template:
    metadata:
      labels:
        app: auth-service
    spec:
      containers:
      - name: auth-service
        image: auth-service:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 3004
        env:
        - name: PORT
          value: "3004"
        - name: MONGO_URI
          value: "mongodb://mongo:27017/authdb"
        - name: JWT_SECRET
          valueFrom:
            secretKeyRef:
              name: jwt-secret
              key: secret
---
apiVersion: v1
kind: Service
metadata:
  name: auth-service
  namespace: travel-booking
spec:
  selector:
    app: auth-service
  ports:
  - port: 3004
    targetPort: 3004
  type: ClusterIP
---
apiVersion: v1
kind: Secret
metadata:
  name: jwt-secret
  namespace: travel-booking
type: Opaque
stringData:
  secret: "super-secret-jwt-key-change-this-in-production-2024"